@import "../../../styles/mixins";
.shop-item {
  @include flex(column, flex-start, flex-start);
  margin-bottom: 30px;
  &-pic-holder {
    position: relative;
    overflow: hidden;
    margin-bottom: 17px;
    &:hover .add-to-cart-link {
      margin-bottom: 0;
    }
  }
  &-pic {
    width: 100%;
    img {
      width: 100%;
    }
  }
  p {
    font-family: "Cormorant Garamond";
    color: #1b1b1b;
    font-size: 24px;
    line-height: 1.16em;
    font-weight: 500;
    letter-spacing: 0.01em;
    margin-bottom: 7px;
  }
  span {
    font-family: Montserrat;
    font-size: 11px;
    line-height: 1.81em;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ababab;
    margin-bottom: 30px;
  }
}
@media (min-width: 680px) {
  .shop-item {
    @include flex(column, flex-start, flex-start);
    width: 50%;
    padding: 0 15px;
    flex-wrap: wrap;
    &-pic {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .shop-item {
    width: 33.33%;
    padding: 0 15px;
  }
}
