@import "../../styles/mixins";
.categories {
  @include flex(column, center, flex-end);
  margin-bottom: 33px;
  h2 {
    font-family: "Cormorant Garamond";
    color: #1b1b1b;
    font-size: 33px;
    line-height: 1.12em;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #1b1b1b;
    text-align: center;
    margin-bottom: 20px;
  }
}
