@import "../../styles/mixins";
aside {
  @include flex(column, flex-end, flex-end);
  padding-top: 79px;
  margin-left: 50px;
  .aside-author {
    @include flex(column, center, center);
    background-color: #faf9f7;
    padding: 41px 35px 35px;
    margin-bottom: 50px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -30px;
      left: 50%;
      width: 1px;
      height: 55px;
      display: block;
      background-color: #eee6e2;
    }
    .author-img {
      width: 157px;
      margin-bottom: 15px;
      img {
        width: 100%;
      }
    }
    h3 {
      font-family: Montserrat;
      font-size: 11px;
      line-height: 1.81em;
      font-weight: 500;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #cfac9f;
      margin-bottom: 10px;
    }
    p {
      width: 157px;
      font-family: "Cormorant Garamond";
      font-size: 19px;
      line-height: 1.48em;
      color: #616161;
      text-align: center;
    }
  }
  .aside-img {
    width: 100%;
    margin-bottom: 50px;
    img {
      width: 100%;
    }
  }
}
