@import "../../styles/mixins";

.blog-in {
  @include flex(column, center, center);

  margin-bottom: 70px;
  .blog-name-div {
    @include flex(row, center, center, auto);
    position: relative;
    margin-bottom: 5px;
    text-align: center;
    &::before,
    &::after {
      content: "";
      width: 30px;
      height: 1px;
      margin: 0 20px;
      display: block;
      background-color: #eee6e2;
    }
    .blog-name {
      font-family: Montserrat;
      font-size: 11px;
      line-height: 1.81em;
      font-weight: 500;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #cfac9f;
      text-align: center;
      transition: color 0.3s;
      &:hover {
        color: #b99486;
      }
    }
  }
  .blog-title {
    font-family: "Cormorant Garamond";
    font-size: 53px;
    line-height: 1.08em;
    font-weight: 500;
    color: #1b1b1b;
    text-align: center;
    margin-bottom: 15px;
  }
  .blog-desc {
    @include flex(row, center, center);
    margin-bottom: 40px;
    .blog-date {
      font-family: Montserrat;
      font-size: 11px;
      line-height: 1.81em;
      font-weight: 500;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #ababab;
      margin-right: 10px;
      transition: color 0.3s;
      &:hover {
        color: #a6796f;
      }
    }
    div {
      width: 1px;
      height: 11px;
      background-color: #eee6e2;
      margin-right: 10px;
    }
    .blog-author {
      font-family: Montserrat;
      font-size: 11px;
      line-height: 1.81em;
      font-weight: 500;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #ababab;
      transition: color 0.3s;
      &:hover {
        color: #a6796f;
      }
    }
  }
  .blog-img {
    width: 805px;
    margin-bottom: 30px;
    img {
      width: 100%;
    }
  }
  .blog-content {
    font-family: "Cormorant Garamond";
    font-size: 19px;
    line-height: 1.48em;
    color: #616161;
    font-weight: 400;
    margin-bottom: 50px;
  }
  .button-div {
    @include flex(row, center, space-between);
    margin-bottom: 20px;
  }
}
