@import "../../styles/mixins";
.filter-div {
  @include flex(column, flex-start, center);
  margin-bottom: 40px;
  h2 {
    font-family: "Cormorant Garamond";
    color: #1b1b1b;
    font-size: 33px;
    line-height: 1.12em;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 6px;
  }
  .filter-button {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 1.67em;
    font-weight: 500;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 18px;
    color: #fff;
    background-color: #1b1b1b;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    &:hover {
      color: #fff;
      background-color: #333;
    }
  }
}
@media (min-width: 1024px) {
  .filter-div {
    align-items: center;
  }
}
