.black-button {
  color: #fff;
  background-color: #1b1b1b;
  border: 1px solid transparent;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.67em;
  font-weight: 500;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  padding: 12px 43px;
  transition: all 0.3s ease;
  &:hover {
    color: #fff;
    background-color: #333;
  }
}
