@import "../../styles/mixins";

.block-quote {
  @include flex(column, center, center);
  background-color: #faf9f7;
  text-align: center;
  position: relative;
  padding: 30px;
  margin-bottom: 90px;
  &::before {
    content: "";
    background-image: url("/src/assets/icons/quote.png");
    position: absolute;
    top: -7px;
    left: 10%;
    width: 180px;
    height: 126px;
  }
  &::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    z-index: 10;
    height: 85px;
    width: 1px;
    background-color: #eee6e2;
  }
  h2 {
    font-size: 33px;
    line-height: 1.12em;
    letter-spacing: 0.01em;
    font-family: "Cormorant Garamond";
    font-weight: 300;
    font-style: italic;
    color: #a6796f;
    margin-bottom: 18px;
    z-index: 1;
  }
  span {
    font-family: Montserrat;
    font-size: 11px;
    line-height: 1.81em;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #cfac9f;
  }
}
@media (min-width: 1024px) {
  .block-quote {
    padding: 60px;
  }
}
