@import "../../styles/mixins";

.search {
  @include flex(row, center, flex-start);
  cursor: pointer;
  &-icon {
    width: 17px;
    height: 17px;
    img {
      width: 100%;
    }
  }
  .search-input {
    font-family: Montserrat;
    font-size: 11px;
    line-height: 1.81em;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
    padding: 6px 0 6px 10px;
    color: #1b1b1b;
    border: 0;
  }
}
